<header class="header">
    <a href="" class="header-logo">Admin Page</a>

    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="header-btn">
        <a href="/logout">
            <button class="searchBtn">
                Logout
            </button>
        </a>
    </div>
    
</header>