<div class="searchBar">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="post">
            <input type="search" id="searchInput" name="searchTerm" placeholder="search a site...">
        </form>
        <div id="searchClose">CLose</div>
    </div>
</div>